*{
    margin: 0;
    padding: 0;
}
.main{
    width: 100%;
    background-image: url(background.png);
    background-size: cover;
    height: 109vh;
    font-family: Arial;
}
.navbar{
    display: flex;
    width: 100%;
    height: 50px;
    margin: auto;
    background-color: #0081c7;
}
.icon{
    width: 13%;
    height: 50px;
    float: left;
    margin-left: 30px;
    align-items: center;
}
.logo{
    color: #ffe800;
    font-size: 30px;
    padding-left: 20px;
    float: left;
    padding-top: 5px;
    height: 45px;
}
.menu{
    width: 60%;
    height: 50px;
    float: left;
    display: flex;
}
ul{
    float: left;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
ul li{
    list-style: none;
    margin-left: 1px;
    align-items: center;
    width: 150px;
    text-align: center;
}
ul li a{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    height: 50px;
    margin-top: 10px;
}
ul li a:hover{
    border-bottom: 2px solid #ffea48;
}
.cv{
    float: left;
    margin-left: 20px;
    text-align: center;
    width: 20%;
}
.btn{
    padding: 7px;
    margin-top: 10px;
    border-radius: 5px;
    border: 2px solid #ffea48;
    background-color: #0081c7;
    font-size: 15px;
    color: #fff;
    transition: 0.3s ease-in-out;
}
.btn:hover{
    opacity: 0.7;
}
.content{
    width: 600px;
    height: auto;
    margin-left: 60px;
    margin-top: 120px;
    color: #fff;
    position: relative;
}
h1,h3{
    color: #222;
}
.yellow{
    color: #ffea48;
}
.par{
    padding-bottom: 25px;
    font-size: 18px;
    letter-spacing: 1.2px;
    line-height: 25px;
    color: #fff;
}
.aboutme{
    margin-left: 60px;
}
.fa{
    padding: 10px;
    font-size: 30px;
    width: 17px;
    text-align: center;
    text-decoration: none;
    margin: 80px 0px;
    border-radius: 60%;
}
.fa:hover{
    opacity: 0.6;
}
.fa-facebook{
    background: #3b5998;
    color: #fff;
    margin-left: 70px;
}
.fa-github{
    background: #dd4b39;
    color: white;
}
.fa-linkedin{
    background: #125688;
    color: white;
}